<!DOCTYPE html>
<html lang="en">
<head>
    <title>Info</title>
    <style>
         body {
            background: linear-gradient(to bottom right, #B59410, #710193);
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .checkbox-container {
            display: flex;
            align-items: center;
            justify-content: center;
         }

        #redirectButton {
            display: block;
            width: 150px;
            padding: 8px;
            text-align: center;
            background-color: #333;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 20px auto 0;
        }

        #redirectButton:hover {
            background-color: #555;
        }

         h1 {
             font-weight: bold;
             font-size: 24px;
             text-align: center;
             display: block;
         }

         .centered {
             display: flex;
             justify-content: center;
             align-items: center;
         }

         h2 {
             font-weight: bold;
             font-size: 20px;
             text-align: center;
         }

         #languageSelect {
             width: 50px;
             border: none;
             padding: 8px;
             font-size: 12px;
             color: white;
             background-color: #333;
             border-radius: 2px;
             text-align: center;
         }

         #languageSelect:hover {
             background-color: #555;
         }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next@21.6.10/i18next.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-i18next@1.2.1/jquery-i18next.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector@6.1.3/i18nextBrowserLanguageDetector.min.js"></script>
</head>
<body>
<div class="container">
    <select name="language" id="languageSwitcher" class="select-strict"></select>

    <h1 data-i18n="welcome"></h1>

    <h2 data-i18n="nb"></h2>

    <h2 data-i18n="desc-title"></h2>
    <p data-i18n="desc-1"></p>
    <p data-i18n="[html]desc-2"></p>
    <p data-i18n="desc-3"></p>
    <p data-i18n="[html]desc-4"></p>

    <h2 data-i18n="important-title"></h2>

    <ul>
        <li data-i18n="[html]important-1"></li>
        <p data-i18n="[html]important-2"></p>
        <p data-i18n="[html]important-3"></p>
        <li data-i18n="[html]important-4"></li>
        <li data-i18n="important-5"></li>
        <li data-i18n="important-6"></li>
    </ul>

    <h2 data-i18n="exec-info-title"></h2>
    <ul>
        <li data-i18n="exec-info-1"></li>
        <p data-i18n="[html]exec-info-2"></p>
        <p data-i18n="[html]exec-info-3"></p>
        <li data-i18n="exec-info-4"></li>
        <p data-i18n="[html]exec-info-5"></p>
        <p data-i18n="[html]exec-info-6"></p>
        <p data-i18n="[html]exec-info-7"></p>
        <p data-i18n="[html]exec-info-8"></p>
        <p data-i18n="[html]exec-info-8a"></p>
        <p data-i18n="[html]exec-info-9"></p>
        <p data-i18n="[html]exec-info-10"></p>
        <p data-i18n="[html]exec-info-11"></p>
        <li data-i18n="exec-info-12"></li>
        <p data-i18n="exec-info-13"></p>
        <li data-i18n="exec-info-14"></li>
        <p data-i18n="[html]exec-info-15"></p>
        <p data-i18n="[html]exec-info-16"></p>
        <li data-i18n="exec-info-17"></li>
    </ul>

    <h2 data-i18n="contact-title"></h2>

    <h2 data-i18n="contact"></h2>

    <div class="checkbox-container">
        <input type="checkbox" id="hide-checkbox">
        <label for="hide-checkbox" data-i18n="checkbox-label"></label>
    </div>

    <div class="centered">
        <div id="submitNotValid" style="margin-top: 10px"></div>
    </div>

    <button id="redirectButton" data-i18n="redirect-button-text"></button>
</div>

    <script>
        const hideCheckbox = document.getElementById('hide-checkbox');

        hideCheckbox.addEventListener('change', () => {
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/save-checkbox', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({ hidePage: hideCheckbox.checked }));
        });
    </script>
    <script>
        const submitFailed = document.getElementById('submitNotValid');

        document.getElementById("redirectButton").addEventListener("click", function (event) {
            event.preventDefault();

            if (document.getElementById('languageSwitcher').value === "") {
                submitFailed.textContent = 'Please choose the language';
                submitFailed.style.color = 'red';
                return;
            }

        window.location.href = "/search";
      });
    </script>

<script>
    const lngs = {
        en: { nativeName: 'ENG' },
        ru: { nativeName: 'RUS' }
    };

    const rerender = () => {
        $('body').localize();
    }

    $(function () {
        i18next
            .init({
                fallbackLng: 'en',
                resources: {
                    en: {
                        translation: {
                            "welcome": "Welcome to SUDRFScraper!",
                            "nb": "Important: SUDRF Scraper may sometimes block requests from foreign IP addresses. We recommend using Russian IP addresses.",
                            "desc-title": "SUDRF Scraper",
                            "desc-1": "Among researchers and journalists, the official aggregator of Russian judicial data bsr.sudrf.ru (also known as «Pravosudie») is associated with pain and disappointment. It is very slow and often does not work at all.",
                            "desc-2": "<strong>SUDRF Scraper</strong> helps to solve this problem — it collects data on court cases and texts of court decisions directly from the websites of general jurisdiction courts (including garrison military courts). Currently, the parser can work with five types of judicial proceedings (Сriminal Article, Administrative Proceeding, Administrative Offense Article, Material Proceeding and Civil Proceeding), as well as three instances (First, Appellation, Cassation).",
                            "desc-3": "Some courts use CAPTCHA, so sometimes you may need to enter it manually. We have tried to minimize the required amount of CAPTCHA input.",
                            "desc-4": "<strong>The parser collects only public data posted on the court websites.</strong>",
                            "important-title": "Important Points",
                            "important-1": "<strong>SUDRF Scraper</strong> uses the FireFox WebDriver, so you must have the Firefox browser installed on your device. If you see error messages related to the WebDriver, try:",
                            "important-2": "Download the driver for your operating system from <a href=\"https://github.com/mozilla/geckodriver/releases\">https://github.com/mozilla/geckodriver/releases</a>",
                            "important-3": "Replace the driver in the ./src/main/resources/\"your operating system name folder\".",
                            "important-4": "It is not recommended to search for cases <strong>only by the text of the court decision</strong>. Many courts do not support this query format, so the search will be among all decisions published up to that moment. Specify search parameters in other fields.",
                            "important-5": "Search for court cases can only be done for one of the five types of judicial proceedings. If you have not specified it, the search defaults to criminal cases.",
                            "important-6": "It is also not recommended to run an unlimited search for administrative or civil types of judicial proceedings. Choose a specific article or set other search criteria.",
                            "exec-info-title": "Instructions",
                            "exec-info-1": "You can choose one of two formats for exporting collected data:",
                            "exec-info-2": "<strong>MySQL table</strong>",
                            "exec-info-3": "<strong>JSON</strong> text file, where information for each case is recorded in a separate line.",
                            "exec-info-4": "For searching court cases, you can use the following filters:",
                            "exec-info-5": "<strong>Court Level:</strong> District, Regional, Garrison, or Mosgorsud",
                            "exec-info-6": "<strong>Region</strong> (note that some courts, such as military garrison courts, do not have a strict regional affiliation, so in such cases, it is better not to limit the export to specific regions)",
                            "exec-info-7": "<strong>Filter Case Mode:</strong> Soft (collects sub-articles for a given article, for example, for Article 20.3 of the Administrative Code of the Russian Federation, it collects cases under Article 20.3.3) or Strict (collects only cases under a given article)",
                            "exec-info-8": "Period in which the case was considered (<strong>Result Date From, Result Date To</strong>): start and end dates of the period in which the decision was considered. If you set these parameters, then unfinished cases will not be included in the export. To avoid this, leave these fields blank.",
                            "exec-info-8a": "Period in which the case came to the court (<strong>Entry Date From, Entry Date To</strong>).",
                            "exec-info-9": "<strong>Text to Search Within Acts:</strong> search by text from the court decision.",
                            "exec-info-10": "<strong>Case Type:</strong> Criminal Article, Administrative Proceeding, Administrative Offense Article, Material Proceeding and Civil Proceeding",
                            "exec-info-11": "<strong>Instance:</strong> First, Appellation, Cassation. The choice of region only affects the search for cases in the first and appellate instances. For the cassation instance, the search is carried out across all courts, regardless of the choice of region.",
                            "exec-info-12": "Depending on the selected type of judicial proceeding, you will be prompted to specify a specific article for your search.",
                            "exec-info-13": "For articles related to criminal proceedings, it is important not to confuse the sub-article and the part of the article. For example, in the Criminal Code, there is Article 286.1 \"Failure to Execute an Order by an Internal Affairs Officer.\" In this case, «Article»  is 286, «SubArticle» is 1. And if you need to search for part 4 of Article 286 «Exceeding Official Powers», then you should specify 4 in the «Part» field, not «Sub-article».",
                            "exec-info-14": "You can also control the following options:",
                            "exec-info-15": "<strong>Project Directory</strong> to save all results. Here you should look for them after parsing is complete.",
                            "exec-info-16": "Option <strong>«Continue Previous Scraping»:</strong> if you want to run a previously completed data collection again, check the corresponding field. It is also important that the project name and project directory match what you used before (if not, information from the last completed session will be used). This option, for example, is useful when the website of a court did not respond during the first iteration of parsing — you can return to it later. The collected results will be added to the previously created export.",
                            "exec-info-17": "After collecting the data, they will appear (the file is named after the project name and has the extension json if you chose this export format) in the directory you specified for the project. In addition, along with parsing results, configuration files and error log files will be available. Use the information from them if you decide to write to us about issues with export or application performance.",
                            "contact-title": "FEEDBACK",
                            "contact": "@tochnost_bot on Telegram",
                            "checkbox-label": "Do not show this page again",
                            "redirect-button-text": "Continue"
                        }
                    },
                    ru: {
                        translation: {
                            "welcome": "Добро пожаловать в SUDRF Scraper!",
                            "nb": "Важно: SUDRF Scraper иногда блокирует запросы с зарубежных IP-адресов. Рекомендуем использовать российские IP-адреса.",
                            "desc-title": "SUDRF Scraper",
                            "desc-1": "Среди российских исследователей и журналистов официальный агрегатор судебных данных bsr.sudrf.ru (также известный как ГАС «Правосудие») ассоциируется с болью и разочарованием. Он очень медленный и часто вообще не работает.",
                            "desc-2": "<strong>SUDRF Scraper</strong> помогает решить эту проблему — он собирает данные о судебных делах и тексты судебных решений напрямую с сайтов судов общей юрисдикции (включая гарнизонные военные суды). Сейчас парсер умеет работать с пятью типами судебного производства (уголовное, административное, об административных правонарушениях, гражданское и производства по материалам), а также с тремя инстанциями (первая, апелляционная, кассационная).",
                            "desc-3": "Некоторые суды используют капчу, поэтому иногда вам придется вводить ее вручную. Мы постарались минимизировать требуемое количество вводов капчи.",
                            "desc-4": "<strong>Парсер собирает только открытые данные, размещенные на сайтах судов.</strong>",
                            "important-title": "Важные моменты:",
                            "important-1": "<strong>SUDRF Scraper</strong> использует драйвер FireFox, поэтому у вас на устройстве должен быть установлен браузер <strong>Firefox</strong>. Если вы видите сообщения об ошибках, связанных с WebDriver, попробуйте:",
                            "important-2": "Скачать драйвер для вашей операционной системы со страницы <a href=\"https://github.com/mozilla/geckodriver/releases\">https://github.com/mozilla/geckodriver/releases</a>",
                            "important-3": "Заменить драйвер в папке ./src/main/resources/\"имя вашей операционной системы\"/.",
                            "important-4": "Не рекомендуется осуществлять поиск дел <strong>только</strong> по тексту из судебного решения. Многие суды не поддерживают такой формат запроса, поэтому поиск будет осуществляться среди всех опубликованных к данному моменту решений. <strong>Задавайте дополнительные параметры поиска в других полях.</strong>",
                            "important-5": "Поиск судебных дел можно осуществлять только по одному из пяти типов судебного производства. Если вы не задали тип судебного производства, то по умолчанию поиск осуществляется по уголовным делам.",
                            "important-6": "Также не рекомендуется запускать неограниченный поиск по административным или гражданским делам. Выберите конкретную статью или задайте другие критерии поиска.",
                            "exec-info-title": "Инструкция:",
                            "exec-info-1": "Можно выбрать один из двух форматов выгрузки собранных данных:",
                            "exec-info-2": "<strong>Таблица MySQL</strong>",
                            "exec-info-3": "Текстовый файл <strong>JSON</strong>, в котором в каждую строку записывается информация по отдельному делу",
                            "exec-info-4": "Для поиска судебных дел можно использовать следующие фильтры:",
                            "exec-info-5": "<strong>Уровень суда:</strong> Все, Районный, Региональный, Гарнизонный или Мосгорсуд",
                            "exec-info-6": "<strong>Регион</strong> (обратите внимание, что некоторые суды, например, военные гарнизонные, не имеют строгой региональной привязки, поэтому в таких случаях лучше не ограничивать выгрузку конкретными регионами)",
                            "exec-info-7": "<strong>Формат поиска: Мягкий</strong> (собирает подстатьи для заданной статьи, например, для статьи 20.3 КОАП РФ собирает и дела по статье 20.3.3) или <strong>Строгий</strong> (собирает только дела по заданной статье)",
                            "exec-info-8": "<strong>Период, в который дело рассмотрено (с, по):</strong> даты начала и конца периода, в который было рассмотрено дело. Если задать эти параметры, то еще незавершенные дела не попадут в выгрузку. Чтобы этого избежать, оставьте эти поля пустыми.",
                            "exec-info-8a": "<strong>Период, в который дело поступило в суд (с, по):</strong> даты начала и конца периода, в который дело поступило в суд.",
                            "exec-info-9": "<strong>Поиск по тексту документа:</strong> поиск по тексту из судебного решения",
                            "exec-info-10": "<strong>Тип судебного производства:</strong> Уголовное, Административное, Об административных правонарушениях, Гражданское и Производства по материалам",
                            "exec-info-11": "<strong>Инстанция:</strong> Первая, Апелляционная, Кассационная. Выбор региона влияет только на поиск дел в первой и апелляционной инстанциях. Для кассационной инстанции поиск осуществляется по всем судам, независимо от выбора региона.",
                            "exec-info-12": "В зависимости от выбранного типа судебного производства вам будет предложено указать конкретную статью, по которой вы хотите осуществить поиск.",
                            "exec-info-13": "Для статей по уголовному производству важно не путать подстатью и часть статьи. Например, в уголовном кодексе есть Статья 286.1 «Неисполнение сотрудником органов внутренних дел приказа». В данном случае «Статья» — 286, «Подстатья» — 1. А если необходимо осуществить поиск по части 4 статьи 286 «Превышение должностных полномочий», то 4 нужно указать в поле «Часть», а не в поле «Подстатья».",
                            "exec-info-14": "Также вы можете управлять следующими опциями:",
                            "exec-info-15": "<strong>Директория проекта</strong>, в которую необходимо сохранить все результаты. Именно здесь их нужно искать после завершения сбора данных.",
                            "exec-info-16": "Опция <strong>«Продолжить предыдущий сбор данных»</strong>: если вы хотите еще раз запустить ранее завершенный сбор данных, то поставьте галочку в соответствующее поле. Важно, чтобы имя проекта и директория проекта совпадали с теми, которые вы использовали ранее (если это не так, то будет использована информация о последней завершенной сессии). Такая опция, например, полезна, когда сайт какого-то суда не отвечал во время первой итерации сбора данных — можно вернуться к этому суду через несколько дней. Собранные результаты будут добавлены в ранее созданную выгрузку.",
                            "exec-info-17": "После завершения сбора данных они появятся в указанной вами директории проекта. Файл называется по имени проекта и имеет расширение, которое вы выбрали. Кроме того, вместе с результатами парсинга будут доступны конфигурационные файлы и файлы с записями ошибок. Используйте информацию из них, если решите написать нам о проблемах в работе приложения.",
                            "contact-title": "ОБРАТНАЯ СВЯЗЬ:",
                            "contact": "@tochnost_bot в Телеграм",
                            "checkbox-label": "Больше не показывать эту страницу",
                            "redirect-button-text": "Продолжить"
                        }
                    }
                },
                interpolation: {
                    escapeValue: false,
                }
            }, (err, t) => {
                if (err) return console.error(err);

                jqueryI18next.init(i18next, $, {useOptionsAttr: true});

                // fill language switcher
                $('#languageSwitcher').append('<option value="" selected>Select language</option>');

                Object.keys(lngs).map((lng) => {
                    const opt = new Option(lngs[lng].nativeName, lng);

                    $('#languageSwitcher').append(opt);
                });
                $('#languageSwitcher').change((a, b, c) => {
                    const chosenLng = $(this).find("option:selected").attr('value');
                    i18next.changeLanguage(chosenLng, () => {
                        rerender();
                        localStorage.setItem('selectedLanguage', chosenLng);
                    });
                });

                rerender();
            });
    });
</script>
</body>
</html>
